
/**
 * Basic Layout RTL Styles.
 */

#content,
.sidebar,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  float: right;
}
.region-triptych-middle,
.region-footer-secondcolumn {
  left: -1%;
  right: auto;
}
.region-triptych-last,
.region-footer-thirdcolumn {
  left: -2%;
  right: auto;
}
.region-footer-fourthcolumn  {
  left: -3%;
  right: auto;
}
