
/**
 * Basic Layout Styles.
 */
#header div.section,
#navigation div.section,
#featured div.section,
#messages,
#main,
#triptych,
#footer-columns,
#footer {
  min-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 98%;
}
#header div.section {
  position: relative;
}
#secondary-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
#content,
.sidebar,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  position: relative;
  float: left;
}
#content {
  width: 100%;
}
.one-sidebar #content {
  margin-left: -260px;
}
.one-sidebar #content > .section {
  margin-left: 260px;
}
.two-sidebars #content > .section {
  margin: 0 260px;
}
.two-sidebars #content {
  margin: 0 -260px;
}
.sidebar {
  width: 260px;
}
#main-wrapper {
  min-height: 500px;
}
#messages div.section,
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  width: 30%;
  margin: 0 1.25%;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  width: 22%;
  margin: 0 1.125%;
}
.region-triptych-middle,
.region-footer-secondcolumn {
  right: -1%;
}
.region-triptych-last,
.region-footer-thirdcolumn {
  right: -2%;
}
.region-footer-fourthcolumn  {
  right: -3%;
}
#footer-wrapper {
  padding: 35px 0 30px;
}
